*{
  box-sizing: border-box;
}
main{
  flex: 1;
  text-align: center;
  margin: 60px auto;
  width: 80%;
  max-width: 800px;

  button{
    padding: 20px 100px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 40px;

    &:hover{
      cursor: pointer;
    }
  }
}