*{
  box-sizing: border-box;
}
main{
  flex: 1;
  text-align: center;
  margin: 60px auto;
  width: 95%;
  max-width: 900px;

  .introduction{

    background-color: rgba(0,0,0,0.5);
    padding: 60px 50px;
    border-radius: 5px;
    color: white;

    h1{
      margin-bottom: 60px;
    }

    button{
      padding: 20px 100px;
      border: none;
      color: white;
      background-color: black;
      border-radius: 5px;
      margin-top: 40px;
  
      &:hover{
        cursor: pointer;
      }
    }

    
  }
}