.chanceLifeline{
  display: flex;
  align-items: center;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0px 10px;

  &:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }
}