.answer{
  background-color: black;
  padding: 25px;
  margin: 20px;
  border-radius: 5px;
  user-select: none;

  &:hover{
    cursor: pointer;
    background-color: rgb(34, 33, 33);
  }

  &:active{
    background-color: rgb(65, 65, 65);
  }

  p{
    color: white;
    margin:0;
  }
}

.disable{
  background-color: rgba(0,0,0, 0.2);
  pointer-events: none;
  cursor:default;
}